p{
    font-size: 20px;
}


#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: black
}
body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    border: 5px solid black
}
a:visited{
    color: black;

}
header{
    color: whitesmoke;
}
footer{
    color: whitesmoke;
}
